<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>Tuan Phan | Self-learner: Front-End</title>

    <!-- <link rel="stylesheet" href="css/styles.css.map" type="text/css" title="no title" charset="utf-8"> -->
    <link rel="stylesheet" href="../css/normalize.css" type="text/css" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i,800|Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css" type="text/css" title="no title" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <header>
        <section id="contact">
            <a href="home.html">
                <h1>&Tscr;uan &Pscr;han </h1>
            </a>
            <!-- &lt; &amp; &gt;  -->
            <h2>Self-learner: Front-End </h2>

        </section>


        <nav>
            <ul>
                <a href="home.html">
                    <li>Projects</li>
                </a>

                <a href="skills.html">
                    <li>Skills</li>
                </a>

                <a href="about.html" class="selected">
                    <li>About</li>
                </a>

                <a href="contact.html">
                    <li>Contact</li>
                </a>

            </ul>
        </nav>

    </header>

    <div id="wrapper">
        <section>
            <img class="photo-profile" src="https://gdurl.com/fXjW" alt="author's avatar">
            <h3>About</h3>
            <p>Hi, I'm Tuan Phan! I am a JavaScript developer. I like to build things.</p>
            <p>I care about maintenance and scalability in web development.
            </p>
            <p>I am currently in half way of thesis. I am seeking for an intership/trainee/job around Helsinki.</p>
            <hr>
            <p>When I have free time, I play sports and guide some newbies how to code.</p>
            <embed src="https://gdurl.com/kb34" width="800px" height="1100px" />
        </section>

        <footer>
            <a href="http://github.com/tuanphanfi">
                <img src="https://drive.google.com/file/d/1i5GLLykMA8ibCRDtkQJNLNVMdlmVweGs/view?usp=sharing"
                    alt="Github Logo" class="social-icon">
            </a>
            <a href="http://teamtreehouse.com/tuanphanfi">
                <img src="img/teamtreehouse-logo.png" alt="Teamtreehouse Logo" class="social-icon">
            </a>
            <p>&copy; 2018 Tuan Phan.</p>
        </footer>




    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="js/app.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>