{{>head}}


<body>


    {{>header}}

    <div id="wrapper">
        <section>

            <h3>About</h3>
            {{!-- <p>Hi, I'm Tuan Phan! I am a JavaScript developer. I like to build things.</p>
            <p>I care about maintenance and scalability in web development.
            </p>
            <p>I am seeking an internship/trainee/job around Uusima area.</p>

            <p>When I have free time, I play sports and help some newbies learn to code.</p>
            <p>Here is my CV:</p> --}}
            <hr>
            {{!-- CV --}}
            <div class="about-CV">
                <div class="about-one-line">
                    <img class="photo-profile"
                        src="https://lh3.googleusercontent.com/-ihZ3ZKUvs2c/AAAAAAAAAAI/AAAAAAAAAAc/AmAVdK5Yk98/photo.jpg?sz=136"
                        alt="author's avatar">

                    <p>Myyrmäki, Vantaa, Suomi</p>
                    <a href="github.com/tuanphanfi">github.com/tuanphanfi</a>
                    <br><br>
                    <a href="http://tuanphan.dev"> http://tuanphan.dev</a>

                    <div class="about-skills-set">
                        <h2>Programming languages</h2>
                        <ul>
                            <li>node.js</li>
                            <li>express</li>
                            <li>mongodb/mongoose</li>
                            <li>API</li>
                            <li>handlebars.js</li>
                            <li>scss</li>
                            <li>vanilla js</li>
                            <li>vuejs2</li>
                            <li>reactjs/react router</li>
                            <li>jquery</li>
                        </ul>
                        <h2>Tools</h2>
                        <ul>
                            <li>Mongodb Atlas</li>
                            <li>AWS(begining)</li>
                            <li>Heroku</li>
                            <li>Postman</li>
                            <li>Github/Gitlab/Gitkraken</li>
                            <li>Terminals (unix, git bash, cmd)</li>
                        </ul>
                        <h2>OS experience</h2>
                        <ul>
                            <li>Windows</li>
                            <li>Linux (favorite one)</li>
                            <li>Macintosh</li>
                        </ul>
                        <h2>Another sub skills</h2>
                        <ul>
                            <li>C# OOP, ASP.NET</li>
                            <li>PHP</li>
                            <li></li>
                        </ul>

                    </div>
                </div>

                <p> I am interested in full stacks JavaScripts. Within hobby projects, I experience and able to work
                    with different variety of JS frameworks, libraries, templates such as Node, Express, React, Vue,
                    Pug, Handlebar. In addition, I have an awareness of database, I favor and on Mongo/Mongoose but I
                    experienced
                    MySQL as well.

                </p>

                <p>
                    I regularly think about the users/customers, almost things I make, responsive is a must.
                    Additionally, I
                    prefer using SCSS to optimize my life-cycle app. I am into maintenance and scalable applications
                    when
                    writing code, I do not only try to make it works but also make it easier maintainable.
                </p>

                <p> I always want to explore more about technology such as first must be a cloud server skill and then
                    it
                    could be about REST API, AI or machine learning.

                </p>

                <p>
                    My upcoming tech skills could be such as Angular, Redux, GraphGL, Python, PostgreSQL, Docker,
                    Socket.
                </p>

                <p> Last but not least, as I believed hard work pays off, one more day I invest in learning, one step
                    closer
                    to my first developer job.</p>

                {{!-- projectssssssssssssssss --}}
                {{!-- projectssssssssssssssss --}}
                {{!-- projectssssssssssssssss --}}

                <div class="about-project">
                    <h1>Media library (1st stage)- school project
                        Dec 2018</h1>
                    <a href="https://book-library-tuanphanfi.herokuapp.com/" target="_blank">
                        <p>Live demo</p>
                    </a>

                    <a href="https://github.com/tuanphanfi/book-library-heroku" target="_blank">
                        <p>Source code</p>
                    </a>
                    <ul>
                        <li>node.js</li>
                        <li>express</li>
                        <li>mongodb/mongoose/mongodb atlas</li>
                        <li>pug</li>
                        <li>scss</li>
                        <li>responsive</li>
                    </ul>
                    <h2>Agile Web Application Development Project(5) </h2>

                    <p> This aim of this project is:</p>
                    <p> -Get to know the fullstacks JS development.
                    </p>
                    <p> -Work with the basic database.
                    </p>
                    <p> -Learn Github.</p>
                    <p> -Write maintenance code, provide expandability for later on.
                    </p>
                    <p>-Implement some JS.</p>
                    <p> I am a leader of this project. </p>
                    <p> I provide basic tutorials for the team.</p>
                    <p> I have the full capability to do this project from scratch.</p>
                </div>
                {{!-- one project --}}

                <div class="about-project">
                    <h1>SELLGAMES 20 May 2019</h1>
                    <a href="https://github.com/tuanphanfi/sellgame2020-deploy" target="_blank">
                        <p>Source code</p>
                    </a>
                    <ul>
                        <li>node.js</li>
                        <li>express</li>
                        <li>mongodb/mongoose</li>
                        <li>scss</li>
                        <li>reactjs/react router</li>
                    </ul>
                    <h2>-Real-Life IT Project and Practices (4)</h2>
                    <p>It is the sporting event which is hosted by LAMK. In this event, universities from a lot of
                        different countries will send students to compete with each other.</p>

                    <p>The event will start in 2020.</p>

                    <p>-My position: I am strongly responsible to set up a better infrastructure work environment for
                        the smoother group work which is 8 people. I am also the main, maintainer. I will handle the
                        errors for the whole app. I also take part in building some pages.
                    </p>
                </div>
                {{!-- one project --}}

                <div class="about-project">
                    <h1>Portfolio page 2019-currently</h1>
                    <a href="/" target="_blank">
                        <p>Live demo</p>
                    </a>

                    <a href="https://github.com/tuanphanfi/tuanphanfi-portfolio" target="_blank">
                        <p>Source code</p>
                    </a>
                    <ul>
                        <li>node.js</li>
                        <li>express</li>
                        <li>mongodb/mongoose</li>
                        <li>handlebars.js</li>
                        <li>scss</li>
                    </ul>
                    <h2>~~~~~</h2>


                    <p>I build my portfolio by another js template. The purpose is gaining new knowledge and show it
                        with the employee.
                    </p>
                    <p>There will be soon, a new version. It could be React.js or Next.js</p>
                </div>
                {{!-- one project --}}

                <div class="about-project">
                    <h1>Hobby projects</h1>
                    <a href="/" target="_blank">
                        <p>Live demo</p>
                    </a>
                    <ul>
                        <li>node.js</li>
                        <li>express</li>
                        <li>mongodb/mongoose/mongodb atlas</li>
                        <li>API</li>
                        <li>handlebars.js</li>
                        <li>scss</li>
                        <li>vanilla js</li>
                        <li>vuejs2</li>
                        <li>reactjs</li>
                        <li>jquery</li>
                    </ul>
                    <h2>~~~~~</h2>


                    <p>Upcoming
                    </p>
                </div>
                {{!-- one project --}}

            </div>

        </section>





        {{>footer}}
    </div>
    {{>script}}

</body>

</html>