{{>head}}


<body>


    {{>header}}

    <div id="wrapper">
        <section>
            {{!-- <img class="photo-profile" src="https://gdurl.com/fXjW" alt="author's avatar">
            <h3>About</h3>
            <p>Hi, I'm Tuan Phan! I am a JavaScript developer. I like to build things.</p>
            <p>I care about maintenance and scalability in web development.
            </p>
            <p>I am currently in half way of thesis. I am seeking for an intership/trainee/job around Helsinki area.</p>
            <hr>
            <p>When I have free time, I play sports and guide some newbies how to code.</p> --}}
            <embed src="https://gdurl.com/4IvB" width="800px" height="1100px" />
        </section>





    {{>footer}}
    </div>
    {{>script}}

</body>

</html>