{{>head}}


<body>


    {{>header}}

      <div id="wrapper">

        <section class="contact-page">
            <section id="primary">
                <h3>General Information</h3>
                
            </section>
            <section id="secondary">
                <h3>Contact Details</h3>
                <ul class="contact-info">
                    <li class="mail">
                        <a href="mailto:tuanphan.fi@gmail.com?subject=Hi%20there!">
                            tuanphan.fi@gmail.com
                        </a>
                    </li>

                    <li class="phone">
                        <a href="tel:+358469683596">
                            +3584 69 68 35 96
                        </a>
                    </li>

                    <li class="twitter">
                        <a href="http://twitter.com/intent/tweet?screen_name=https://twitter.com/TuanPha49010535">
                            @Tuan Phan
                        </a>
                    </li>
                </ul>
            </section>
        </section>

        <footer>
            <a href="http://github.com/tuanphanfi">
                <img src="https://drive.google.com/file/d/1i5GLLykMA8ibCRDtkQJNLNVMdlmVweGs/view?usp=sharing"
                    alt="Github Logo" class="social-icon">
            </a>
            <a href="http://teamtreehouse.com/tuanphanfi">
                <img src="img/teamtreehouse-logo.png" alt="Teamtreehouse Logo" class="social-icon">
            </a>
            <p>&copy; 2018 Tuan Phan.</p>
        </footer>



    </div>
    {{>footer}}

    {{>script}}

</body>

</html>