<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>Tuan Phan | Self-learner: Front-End</title>

    <!-- <link rel="stylesheet" href="css/styles.css.map" type="text/css" title="no title" charset="utf-8"> -->
    <link rel="stylesheet" href="../css/normalize.css" type="text/css" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i,800|Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css" type="text/css" title="no title" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <header>

        <section id="contact">
            <a href="home.html">
                <h1>&Tscr;uan &Pscr;han </h1>
            </a>
            <!-- &lt; &amp; &gt;  -->
            <h2>Self-learner: Front-End </h2>


        </section>


        <nav>
            <ul>
                <a href="home.html">
                    <li>Projects</li>
                </a>

                <a href="skills.html" >
                    <li>Skills</li>
                </a>

                <a href="about.html">
                    <li>About</li>
                </a>

                <a href="contact.html" class="selected">
                    <li>Contact</li>
                </a>

            </ul>
        </nav>

    </header>

    <div id="wrapper">

        <section class="contact-page">
            <section id="primary">
                <h3>General Information</h3>
                
            </section>
            <section id="secondary">
                <h3>Contact Details</h3>
                <ul class="contact-info">
                    <li class="mail">
                        <a href="mailto:tuanphan.fi@gmail.com?subject=Hi%20there!">
                            tuanphan.fi@gmail.com
                        </a>
                    </li>

                    <li class="phone">
                        <a href="tel:+358469683596">
                            +3584 69 68 35 96
                        </a>
                    </li>

                    <li class="twitter">
                        <a href="http://twitter.com/intent/tweet?screen_name=https://twitter.com/TuanPha49010535">
                            @Tuan Phan
                        </a>
                    </li>
                </ul>
            </section>
        </section>

        <footer>
            <a href="http://github.com/tuanphanfi">
                <img src="https://drive.google.com/file/d/1i5GLLykMA8ibCRDtkQJNLNVMdlmVweGs/view?usp=sharing"
                    alt="Github Logo" class="social-icon">
            </a>
            <a href="http://teamtreehouse.com/tuanphanfi">
                <img src="img/teamtreehouse-logo.png" alt="Teamtreehouse Logo" class="social-icon">
            </a>
            <p>&copy; 2018 Tuan Phan.</p>
        </footer>



    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="js/app.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>