{{>head}}


<body>


    {{>header}}

    <div id="wrapper">
        <h1 class="portfolio-title">Front-end</h1>
        <section>
            <ul id="gallery">
                <li>
                    <div class="skills-set"><strong>Heroku deployment: yes</strong> | <strong>Made by:</strong>
                        JavaScript, jQuery, Responsive</div>

                    <a href="https://random-quote-machine-tuanphan.herokuapp.com/" target="_blank">
                        <img src="https://gdurl.com/uVVi/" alt="jQuery, responsive, javascript">
                        <p>Random quote machine</p>

                    </a>
                </li>

                <li>
                    <div class="skills-set"><strong>Heroku deployment: yes</strong> | <strong>Made by:</strong>
                        JavaScript, Canvas</div>

                    <a href="https://tennis-game-canvas-tuanphan.herokuapp.com/" target="_blank">
                        <img src="https://gdurl.com/JqSU/" alt="canvas, javascript">
                        <p>Tennis</p>

                    </a>

                </li>

                <li>
                    <div class="skills-set"><strong>Heroku deployment: yes</strong> | <strong>Made by:</strong>
                        JavaScript, Vue.js 2</div>

                    <a href="https://monster-slayer-vuejs2-tuanphan.herokuapp.com/" target="_blank">
                        <img src="https://gdurl.com/OPzu/" alt="Vue.js 2">
                        <p>Monster Slayer</p>
                    </a>
                </li>

                <li>
                    <div class="skills-set"><strong>Made by:</strong> Native Script</div>

                    <a href="https://github.com/tuanphanfi/todo-app-vue" target="_blank">
                        <img src="https://gdurl.com/j00r" alt=" weather app logo">
                        <p>WeatherApp-NativeScript</p>
                    </a>
                </li>


                <li>
                    <div class="skills-set"><strong>Made by:</strong> Vue.js 2 cli</div>

                    <a href="https://github.com/internnship-training-origin-syntax/WeatherApp-NativeScript"
                        target="_blank">
                        <img src="https://gdurl.com/pu-s" alt=" to-do-vue">
                        <p>To-do-Vue</p>
                    </a>
                </li>


            </ul>
        </section>


        <h1 class="portfolio-title">Back-end</h1>
        <section>
            <ul id="gallery">
                <li>
                    <div class="skills-set"><strong>Heroku deployment: yes</strong> | <strong>Made by:</strong> Node.js,
                        hbs, API, destructuring, ES6, fetch, errors handler
                    </div>


                    <a href="https://github.com/tuanphanfi/weather-app-nodejs" target="_blank">
                        <img src="https://gdurl.com/M_FH" alt="jQuery, responsive, javascript">
                        <p>Weather App</p>

                    </a>
                </li>



            </ul>
        </section>

        <h1 class="portfolio-title">Full stacks</h1>
        <section>
            <ul id="gallery">
                <li>
                    <div class="skills-set"><strong>Made by:</strong> Pug.js, Node.js, Express.js, Mongo/Mongoose,
                        JavaScript, jQuery, SCSS, Responsive
                        <a href="http://github.com/tuanphanfi">
                            {{!-- <img src="https://gdurl.com/yxT0" alt="Github Logo" class="social-icon"> --}}
                            <img src="./public/img/image1" alt="">
                        </a>
                    </div>


                    <a href="https://github.com/tuanphanfi/book-library" target="_blank">
                        <img src="https://gdurl.com/NjaU" alt="jQuery, responsive, javascript">
                        <p>Media Library</p>

                    </a>
                </li>


                <li>
                    <div class="skills-set"><strong>Made by:</strong> React.js, Node.js, Express.js, Mongo/Mongoose,
                        SCSS, JavaScript</div>

                    <a href="https://github.com/tuanphanfi/sellgame2020-deploy" target="_blank">
                        <img src="https://gdurl.com/5c3p" alt="SELL GAMES 2020">
                        <p>SELL GAMES 2020</p>

                    </a>

                </li>

            </ul>
        </section>

        {{>footer}}
    </div>

    {{>script}}

</body>

</html>