{{>head}}


<body>


    {{>header}}

    <div id="wrapper">

        {{>mainProjects}}

        {{>backendProjects}}
        {{>miniProjects}}




        {{>footer}}
    </div>

    {{>script}}

</body>

</html>