{{>head}}


<body>


    {{>header}}

 <div id="wrapper">
        <h1>Hobbies Projects</h1>
        <section>
            <ul id="gallery">
                <li>
                    <div class="skills-set"><strong>Made by:</strong> JavaScript, jQuery, Responsive</div>

                    <a href="https://random-quote-machine-tuanphan.herokuapp.com/" target="_blank">
                        <img src="https://gdurl.com/uVVi/" alt="jQuery, responsive, javascript">
                        <p>Random quote machine</p>

                    </a>
                </li>

                <li>
                    <div class="skills-set"><strong>Made by:</strong> JavaScript, Canvas</div>

                    <a href="https://tennis-game-canvas-tuanphan.herokuapp.com/" target="_blank">
                        <img src="https://gdurl.com/JqSU/" alt="canvas, javascript">
                        <p>Tennis</p>

                    </a>

                </li>

                <li>
                    <div class="skills-set"><strong>Made by:</strong> JavaScript, Vue.js 2</div>

                    <a href="https://monster-slayer-vuejs2-tuanphan.herokuapp.com/" target="_blank">
                        <img src="https://gdurl.com/OPzu/" alt="Vue.js 2">
                        <p>Monster Slayer</p>
                    </a>
                </li>

                <li>
                    <div class="skills-set"><strong>Made by:</strong> JavaScript, Canvas</div>

                    <a href="#nodejs" target="_blank">
                        <img src="img/nodejs-logo.png" alt="Nodejs logo">
                        <p>NodeJS</p>
                    </a>
                </li>
            </ul>
        </section>

        <h1>School Projects</h1>
        <section>
            <ul id="gallery">
                <li>
                    <div class="skills-set"><strong>Made by:</strong> Pug.js, Node.js, Express.js, Mongo/Mongoose, JavaScript, jQuery, Responsive</div>

                    <a href="https://random-quote-machine-tuanphan.herokuapp.com/" target="_blank">
                        <img src="" alt="jQuery, responsive, javascript">
                        <p>Media Library</p>

                    </a>
                </li>

                <li>
                    <div class="skills-set"><strong>Made by:</strong> React.js, Node.js, Express.js, Mongo/Mongoose, JavaScript</div>

                    <a href="https://tennis-game-canvas-tuanphan.herokuapp.com/" target="_blank">
                        <img src="img/projects/tennis-game-canvas.png" alt="canvas, javascript">
                        <p>SELL GAMES 2020</p>

                    </a>

                </li>


            </ul>
        </section>

    {{>footer}}

    {{>script}}

</body>

</html>