{{>head}}


<body>


    {{>header}}

 <div id="wrapper">
        <section>
            <ul id="gallery">
                <li>
                    <a href="#ajax">
                        <img src="img/ajax-jquery-logo.jpg" alt="jQuery Logo">
                        <p>Ajax, jQuery</p>
                    </a>
                </li>

                <li>
                    <a href="#react">
                        <img src="img/react-logo.png" alt="React Logo">
                        <p>React</p>
                    </a>
                </li>

                <li>
                    <a href="#scss">
                        <img src="img/sass-logo.png" alt="Sass logo">
                        <p>Sass</p>
                    </a>
                </li>

                <li>
                    <a href="#nodejs">
                        <img src="https://drive.google.com/file/d/1i5GLLykMA8ibCRDtkQJNLNVMdlmVweGs/view?usp=sharing" alt="Nodejs logo">
                        <p>NodeJS</p>
                    </a>
                </li>
            </ul>
        </section>


    {{>footer}}


    </div>


    {{>script}}

</body>

</html>