<h1 class="portfolio-title">Back-end</h1>
<section>
    <ul id="gallery">
        <li>
            <img src="https://gdurl.com/M_FH" alt="jQuery, responsive, javascript">

            <a href="https://weather-app-nodejs-tuanphanfi.herokuapp.com/" target="_blank">
                <p>Live demo</p>
            </a>

            <a href="https://github.com/tuanphanfi/weather-app-nodejs" target="_blank">
                <p>Source code</p>
            </a>

            <div class="skills-set">
                <h1>Random quotes machine</h1>
                <h2> Node.js | hbs | API | destructuring | ES6 | fetch | errors handler</h2>
                <p>A weather web application built by Nodejs, API. The purpose to sharp my skills by using some
                    new JavaScript features.
                    Such as: destructuring, arrow function, etc. </p>
            </div>


        </li>



    </ul>
</section>