<h1 class="portfolio-title">Back-end</h1>
        <section>
            <ul id="gallery">
                <li>
                    <div class="skills-set"><strong>Heroku deployment: yes</strong> | <strong>Made by:</strong> Node.js,
                        hbs, API, destructuring, ES6, fetch, errors handler
                    </div>


                    <a href="https://github.com/tuanphanfi/weather-app-nodejs" target="_blank">
                        <img src="https://gdurl.com/M_FH" alt="jQuery, responsive, javascript">
                        <p>Weather App</p>

                    </a>
                </li>



            </ul>
        </section>