<footer>
    <a href="http://github.com/tuanphanfi">
        <img src="https://gdurl.com/yxT0" alt="Github Logo" class="social-icon">
    </a>
    <a href="http://teamtreehouse.com/tuanphanfi">
        <img src="https://gdurl.com/eMnG" alt="Teamtreehouse Logo" class="social-icon">
    </a>

    <a href="https://stackoverflow.com/users/10250632/tuan-phan">
        <img src="https://gdurl.com/uDA5" alt="Stackoverflow Logo" class="social-icon">
    </a>
    <p>&copy; 2018 Tuan Phan.</p>
</footer>