<header>
        <section id="contact">
            <a href="home.html">
                <h1>&Tscr;uan &Pscr;han </h1>
            </a>
            <!-- &lt; &amp; &gt;  -->
            <h2>Aim to: JavaSCript Developer </h2>

        </section>


        <nav>
            <ul>
                <a href="/">
                    <li>Projects</li>
                </a>

                {{!-- <a href="/skills">
                    <li>Skills</li>
                </a> --}}

                <a href="/about">
                    <li>CV</li>
                </a>

                <a href="/contact">
                    <li>Contact</li>
                </a>

            </ul>
        </nav>

    </header>