<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>Tuan Phan | JavaSCript enthusiast</title>

    <!-- <link rel="stylesheet" href="css/styles.css.map" type="text/css" title="no title" charset="utf-8"> -->
    <link rel="stylesheet" href="../css/normalize.css" type="text/css" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i,800|Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css" type="text/css" title="no title" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>