<h1 class="portfolio-title">Main projects</h1>
<section>
    <ul id="gallery">

        <li>
            <img src="https://gdurl.com/NjaU" alt="jQuery, responsive, javascript" />

            <a href="https://book-library-tuanphanfi.herokuapp.com/" target="_blank">
                <p>Live demo</p>
            </a>

            <a href="https://github.com/tuanphanfi/book-library-heroku" target="_blank">
                <p>Source code</p>
            </a>

            {{!-- description --}}
            <div class="skills-set">
                <h1>Media Library</h1>

                <h2>Pug.js | Node.js | Express.js | Mongo/Mongoose | JavaScript | jQuery | SCSS | Mongodb Atlas | Heroku
                </h2>
                <p class="description">A fullstack application - the website can store and list out the list of books.
                </p>
            </div>

        </li>

        <li>
            <img src="https://gdurl.com/5c3p" alt="SELL GAMES 2020">
            <a href="#" target="_blank">
                {{!-- <p>Live demo</p> --}}
            </a>

            <a href="https://github.com/tuanphanfi/sellgame2020-deploy" target="_blank">
                <p>Source code</p>
            </a>

            {{!-- description --}}
            <div class="skills-set">
                <h1>SELL GAMES 2020</h1>

                <h2>React.js | Node.js |
                    Express.js | Mongo/Mongoose |
                    SCSS | JavaScript
                </h2>
                <p class="description">1st stage of website for International student sports event SELL Student Games
                    organized in <br>
                    Lahti 15.-17.5.2020. <br>
                    Over 1200 participants,
                    17 different sports,
                    3 days.
                </p>
            </div>

        </li>




    </ul>
</section>