<h1 class="portfolio-title">Main projects</h1>
        <section>
            <ul id="gallery">
                <li>
                    <div class="skills-set"><strong>Heroku deployment: yes ||</strong> <strong>Made by:</strong> Pug.js, Node.js, Express.js, Mongo/Mongoose <strong>Hosted on: Mongodb Atlas</strong>,
                        JavaScript, jQuery, SCSS, Responsive
                  
                    </div>


                    <a href="https://github.com/tuanphanfi/book-library-heroku" target="_blank">
                        <img src="https://gdurl.com/NjaU" alt="jQuery, responsive, javascript">
                        <p>Media Library</p>

                    </a>
                </li>


                <li>
                    <div class="skills-set"><strong>A member is working on this as his internship and it crashes recently. I clone this one here, for later update </strong><strong>Made by:</strong> React.js, Node.js, Express.js, Mongo/Mongoose,
                        SCSS, JavaScript</div>

                    <a href="https://github.com/tuanphanfi/sellgame2020-deploy" target="_blank">
                        <img src="https://gdurl.com/5c3p" alt="SELL GAMES 2020">
                        <p>SELL GAMES 2020</p>

                    </a>

                </li>

            </ul>
        </section>