<h1 class="portfolio-title">Mini Projects</h1>
<section>
    <ul id="gallery">
        <li>
            <div class="skills-set"><strong>Heroku deployment: yes</strong> | <strong>Made by:</strong>
                JavaScript, jQuery, Responsive</div>

            <a href="https://github.com/porfolio-internship-tuanphan/random-quote-machine" target="_blank">
                <img src="https://gdurl.com/uVVi/" alt="jQuery, responsive, javascript">
                <p>Random quote machine</p>

            </a>
        </li>

        <li>
            <div class="skills-set"><strong>Heroku deployment: yes</strong> | <strong>Made by:</strong>
                JavaScript, Canvas</div>

            <a href="https://github.com/tuanphanfi/tennis-game-canvas/" target="_blank">
                <img src="https://gdurl.com/JqSU/" alt="canvas, javascript">
                <p>Tennis</p>

            </a>

        </li>

        <li>
            <div class="skills-set"><strong>Heroku deployment: yes</strong> | <strong>Made by:</strong>
                JavaScript, Vue.js 2</div>

            <a href="https://github.com/tuanphanfi/monster-slayer-vuejs2" target="_blank">
                <img src="https://gdurl.com/OPzu/" alt="Vue.js 2">
                <p>Monster Slayer</p>
            </a>
        </li>

        <li>
            <div class="skills-set"><strong>Made by:</strong> Native Script</div>
            <a href="https://github.com/internnship-training-origin-syntax/WeatherApp-NativeScript" target="_blank">

                <img src="https://gdurl.com/j00r" alt=" weather app logo">
                <p>WeatherApp-NativeScript</p>
            </a>
        </li>


        <li>
            <div class="skills-set"><strong>Made by:</strong> Vue.js 2 cli</div>

            <a href="https://github.com/tuanphanfi/todo-app-vue" target="_blank"></a>
            <img src="https://gdurl.com/pu-s" alt=" to-do-vue">
            <p>To-do-Vue</p>
            </a>
        </li>


    </ul>
</section>