<h1 class="portfolio-title">Mini Projects</h1>
<section>
    <ul id="gallery">
        <li>
            <img src="https://gdurl.com/uVVi/" alt="jQuery, responsive, javascript" />

            <a href="https://random-quote-machine-tuanphan.herokuapp.com/" target="_blank">
                <p>Live demo</p>
            </a>

            <a href="https://github.com/tuanphanfi/random-quote-machine-tuanphanfi" target="_blank">
                <p>Source code</p>
            </a>

            <div class="skills-set">
                <h1>Random quotes machine</h1>
                <h2>JavaScript | jQuery | Responsive</h2>
                <p>This is a simple Random quotes machine app</p>
            </div>
        </li>

        <li>
            <img src="https://gdurl.com/JqSU/" alt="canvas, javascript">

            <a href="https://tennis-game-canvas-tuanphan.herokuapp.com/" target="_blank">
                <p>Live demo</p>
            </a>

            <a href="https://github.com/tuanphanfi/tennis-game-canvas/" target="_blank">
                <p>Source code</p>
            </a>

            <div class="skills-set">
                <h1>Tennis game</h1>
                <h2>JavaScript | Canvas </h2>
                <p>A game made by JavaScript on Canvas</p>
            </div>
        </li>

        <li>
            <img src="https://gdurl.com/OPzu/" alt="Vue.js 2">

            <a href="https://monster-slayer-vuejs2-tuanphan.herokuapp.com/" target="_blank">
                <p>Live demo</p>
            </a>

            <a href="https://github.com/tuanphanfi/monster-slayer-vuejs2" target="_blank">
                <p>Source code</p>
            </a>

            <div class="skills-set">
                <h1>Monster layer</h1>
                <h2>JavaScript | Vue.js 2 </h2>
                <p>A game made by Vue.js 2</p>
            </div>
        </li>

        <li>
            <img class="display-block" src="https://gdurl.com/j00r" alt=" weather app logo">

            {{!-- <a href="https://monster-slayer-vuejs2-tuanphan.herokuapp.com/" target="_blank">
                <p>Live demo</p>
            </a> --}}

            <a href="https://github.com/internnship-training-origin-syntax/WeatherApp-NativeScript" target="_blank">
                <p>Source code</p>
            </a>

            <div class="skills-set">
                <h1>WeatherApp-NativeScript</h1>
                <h2>JavaScript | Vue.js 2 </h2>
                <p>Native Script application</p>
            </div>
        </li>


        <li>
            <img src="https://gdurl.com/pu-s" alt=" to-do-vue">

            {{!-- <a href="https://monster-slayer-vuejs2-tuanphan.herokuapp.com/" target="_blank">
                <p>Live demo</p>
            </a> --}}

            <a href="https://github.com/tuanphanfi/todo-app-vue" target="_blank">
                <p>Source code</p>
            </a>

            <div class="skills-set">
                <h1>To-do-App-Vue.js2</h1>
                <h2>JavaScript | Vue.js 2 </h2>
                <p>Native Script application</p>
            </div>
        </li>






    </ul>
</section>