<li>
  <img src="https://gdurl.com/uVVi/" alt="jQuery, responsive, javascript" />

  <a href="https://random-quote-machine-tuanphan.herokuapp.com/" target="_blank">
    <p>Live demo</p>
  </a>

  <a href="https://github.com/porfolio-internship-tuanphan/random-quote-machine" target="_blank">
    <p>Source code</p>
  </a>

  <div class="skills-set">
    <h1>Random quotes machine</h1>
    <h2>JavaScript | jQuery | Responsive</h2>
    <p>This is a simple Random quotes machine app</p>
  </div>
</li>