  /************************************
  HEADING
  *************************************/
  
  header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
    background: #2d3339;
  }
  
  .portfolio-title {
    color: rgb(111,122,222)
  }

  #contact {
    text-align: center;
    margin: 0;
  }
  
  h1 {
    color: #fff;
    margin: 15px 0;
    padding: 15px 0 0 0;
    font-size: 1.75em;
    line-height: 0.8em;
  }
  
  h2 {
    font-size: 0.9em;
    margin: 2px 0px 0px;
    color: #fff;
  }
  
